name: Build Docker Images (All Services)

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - eureka-server-service
          - user-service
          - order-service
          - payment-service
          - notification-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    # Set up JDK Step
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
    # Build JAR Step
      - name: Build JAR
        working-directory: ${{ matrix.service }}
        run: mvn clean package -DskipTests

    #  Debug and Docker Build Steps
      - name: Debug repo owner
        run: echo "Repo owner is ${{ github.repository_owner }}"      

    #  Docker Build and Push Steps
      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    # Build and Push Docker Image
      - name: Build & Push Docker image
        working-directory: ${{ matrix.service }}
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/${{ matrix.service }}:${{ github.sha }}
          IMAGE_NAME_LATEST=ghcr.io/${{ github.repository_owner }}/${{ matrix.service }}:latest
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME
          docker tag $IMAGE_NAME $IMAGE_NAME_LATEST
          docker push $IMAGE_NAME_LATEST
    # Debug Steps
      - name: List files in service directory
        working-directory: ${{ matrix.service }}
        run: ls -la    

      - name: List local docker images after build
        run: docker images    
