name: SonarQube Scan (All Services)

on:
  push:
    branches:
      - main
#  pull_request:
#    branches:
#      - main

jobs:
  sonar-scan:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - eureka-server-service
          - user-service
          - order-service
          - payment-service
          - notification-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        working-directory: ${{ matrix.service }}
        run: mvn clean package -DskipTests

      - name: SonarQube Scan
        working-directory: ${{ matrix.service }}
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=${{ matrix.service }} \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
